doctype html
html(lang="en")
  head
    //Meta tage
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    //Title of the page
    title Movies & Stuff

    //FavIcon
    link(rel='shortcut icon' href='favicon.ico')

    //Link Stylesheet
    link(rel='stylesheet', href='assets/css/style.css')

    //[if lt IE 9]
        script(src="/vendor/assets/js/html5shiv.js")
        script(src="/vendor/assets/js/respond.min.js")
    //[endif]

  body
    .container
        .wrapper
            section
                .header-section
                    h1
                        a(href="index.html" title="Movies&Stuff") 
                            | Movies
                            span &
                            | Stuff
                    nav
                        ul
                            li
                                a.movies(href="#") Movies
                            li
                                a.tv-shows(href="#") TV Shows
                            li
                                a.celebs-photos(href="#") Celebs & Photos
                            li
                                a.news(href="#") News

    
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='assets/script/script.js')