doctype html
html(lang="en")
  head
    //Meta tage
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    //Title of the page
    title Movies & Stuff

    //FavIcon
    link(rel='shortcut icon' href='favicon.ico')

    //Link Stylesheet
    link(rel='stylesheet', href='assets/css/style.css')

    //[if lt IE 9]
        script(src="/vendor/assets/js/html5shiv.js")
        script(src="/vendor/assets/js/respond.min.js")
    //[endif]

  body
    .container
        .wrapper
            section
                .header-section
                    h1
                        a(href="index.html" title="Movies&Stuff") 
                            | Movies
                            span &
                            | Stuff
                    nav
                        ul
                            li
                                a.movies(href="#") Movies
                            li
                                a.tv-shows(href="#") TV Shows
                            li
                                a.celebs-photos(href="#") Celebs & Photos
                            li
                                a.news(href="#") News
            section
                .banner-section
                    .banner-container
                        .banner-left-container
                            img(src="assets/images/movie-poster.png", alt="Movie Poster")
                        .banner-right-container
                            h2.movies-title Deadpool
                                span 
                            p.movies-description
                                | A former Special Forces operative turned mercenary is subjected to a rogue 
                                | experiment that leaves him with accelerated healing powers, adopting the 
                                | alter ego Deadpool.
                            p.movies-forte
                                span.rating R 
                                span.duration | 108 min 
                                span.genre | Action, Adventure, Comedy 
                                span.release-date | 12 Feb, 2016

    
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='assets/script/script.js')